<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    <h1>Your short URL is:</h1>
    <h3><%= link %></h3>
    <a href="./v/<%= link %>">Try the link!</a>
</body>
</html>