<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    <h1>Generate short URL</h1>
    <form action="/" method="POST">
        <input type="text" name="link" placeholder="URL (http://google.com for example)" />
        <input type="submit" value="Generate URL">
    </form>
</body>
</html>