<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    <h1>You are currently heading into the url:</h1>
    <h3><%= url %></h3>
    <h4>Would you like to continue?</h4>
    <a href="./<%= shortid %>/go">Yes, take me there</a>
</body>
</html>